Source: ros-noetic-robotis-manipulator
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-roscpp
Homepage: http://wiki.ros.org/robotis_manipulator
Standards-Version: 3.9.2

Package: ros-noetic-robotis-manipulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-noetic-cmake-modules, ros-noetic-roscpp
Description: This package contains the manipulation API and functions for controlling the manipulator.
